// @font-face {
//   font-family: 'integralcf-bold';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_bold_macroman/integralcf-bold-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_bold_macroman/integralcf-bold-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }

// @font-face {
//   font-family: 'integralcf-boldoblique';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_boldoblique_macroman/integralcf-boldoblique-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_boldoblique_macroman/integralcf-boldoblique-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: oblique, italic;

// }

@font-face {
  font-family: 'integralcf-demibold';
  src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_demibold_macroman/integralcf-demibold-webfont.woff2') format('woff2'),
       url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_demibold_macroman/integralcf-demibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// @font-face {
//   font-family: 'integralcf-demiboldoblique';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_demiboldoblique_macroman/integralcf-demiboldoblique-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_demiboldoblique_macroman/integralcf-demiboldoblique-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: oblique, italic;

// }

// @font-face {
//   font-family: 'integralcf-extrabold';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_extrabold_macroman/integralcf-extrabold-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_extrabold_macroman/integralcf-extrabold-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }

// @font-face {
//   font-family: 'integralcf-extraboldoblique';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_extraboldoblique_macroman/integralcf-extraboldoblique-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_extraboldoblique_macroman/integralcf-extraboldoblique-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: oblique, italic;

// }

// @font-face {
//   font-family: 'integralcf-heavy';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_heavy_macroman/integralcf-heavy-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_heavy_macroman/integralcf-heavy-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }

// @font-face {
//   font-family: 'integralcf-heavyoblique';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_heavyoblique_macroman/integralcf-heavyoblique-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_heavyoblique_macroman/integralcf-heavyoblique-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: oblique, italic;

// }

// @font-face {
//   font-family: 'integralcf-medium';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_medium_macroman/integralcf-medium-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_medium_macroman/integralcf-medium-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }

// @font-face {
//   font-family: 'integralcf-mediumoblique';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_mediumoblique_macroman/integralcf-mediumoblique-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_mediumoblique_macroman/integralcf-mediumoblique-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: oblique, italic;

// }

// @font-face {
//   font-family: 'integralcf-regular';
//   src: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_regular_macroman/integralcf-regular-webfont.woff2') format('woff2'),
//        url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/web-fonts/integralcf_regular_macroman/integralcf-regular-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
