// https://stackoverflow.com/questions/17248915/css-attribute-selector-for-existing-but-non-empty-attributes
/**
* Requires
*/
@use "sass:meta";
/**
* Select current scope only if a given attribute is set
* @param {string} $attribute - Attribute name, default: 'class'
* @param {boolean} $empty - Allow empty attribute
* @param {string} $error - Error message prefix
* @output Wraps given content styles to apply only if the current scope element has the given attribute
*/
@mixin attr-isset($attribute: 'class', $empty: false, $error: 'attr-isset::') {
  @if meta.content-exists() != true {
    @error '#{$error}@content is required';
  }
  @if $empty {
    &[#{$attribute}] {
      @content;
    }
  } @else {
    &[#{$attribute}]:not([#{$attribute}='']) {
      @content;
    }
  }
}
$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

// Colors
$primary: #445566;
$secondary: #c99227;
$light: #e9ecef;
$dark: #212529;
$info: #3e5573;

$theme-site-navbar-secondary-type: dark !default;
$theme-site-navbar-secondary-bg-color: $primary !default;
$theme-site-navbar-secondary-link-color: $light !default;
$theme-site-navbar-secondary-link-active-color: $secondary !default;
$theme-site-navbar-secondary-link-hover-color: $secondary !default;

$theme-site-navbar-primary-bg-color: #6f7c90 !default;
$theme-site-navbar-primary-link-color: $light !default;
$theme-site-navbar-primary-link-active-color: #000000 !default;
$theme-site-navbar-primary-link-hover-color: #000000 !default;


$theme-site-footer-primary-bg-color:    $primary !default;
$theme-site-footer-secondary-bg-color:  #6f7c90 !default;

// Fonts
@import "./fonts";
$skin-font-family-primary: "DM Sans", sans-serif;
$skin-font-family-secondary: "Open Sans", open-sans-fallback, sans-serif;

$theme-header-font-family: "integralcf-demibold", sans-serif !default;

$theme-section-header-font: $theme-header-font-family;

@import "@ac-business-media/package-global/scss/core";

.node-list .node-list__header,
.node-list--section-feed .node-list__header,
.section-list-deck .node-list__header,
.node-carousel .node-carousel__header,
.related-stories .related-stories__header,
.partners .partners__header,
.node-list .node__title,
.page--website-section .page-wrapper__website-section-name {
  font-family: $theme-header-font-family
}

@import "@parameter1/base-cms-marko-web-photoswipe/scss/main";

@import "./components/home-graphical-section";
@import "./components/welcome-box";
@import "./components/site-navbar";
@import "./components/site-menu";
@import "./components/page-cover-image";
@import "./components/content-page";
@import "./components/company-page";
@import "./components/spec-comparison-tool";
@import "./components/titanium-products";

.page-wrapper {
  $self: &;
  &--break-container {
    margin-left: -20px;
    margin-right: -20px;
  }
  > #{ $self }__section {
    &--break-container {
      margin-right: -20px;
      margin-left: -20px;
      @media (min-width: $marko-web-document-container-max-width) {
        margin-left: calc(-50vw - -630px);
        margin-right: calc(-50vw - -630px);
      }
      &:first-child {
        margin-top: -20px;
      }
      &:last-child {
        margin-bottom: -20px;
      }
    }
  }
  > #{ $self }__section--with-cover-image + #{ $self }__section {
    &--break-container {
      margin-top: -30px;
    }
  }
}

.sticky-top {
  .newsletter-form {
    label[for="sign-on-email"] {
      display: none;
    }
  }
}

.site-navbar {
  $self: &;
  &__logo {
    height: 60px;
  }
}
