$ const { content } = input;
$ const specServiceUrl = process.env.IRONPROS_PRODUCT_SPECS_SERVICE_UR

<marko-web-browser-component
  name="SiteSpecComparison"
  props={
    product: content,
    specServiceUrl
  }
/>
