$ const { id, alias, name, pageNode } = input;

<site-website-section-webinars-feed-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
  node={
    withDates: true,
    withTeaser: true,
    withCompany: false,
    dateFormat: "MMMM D, YYYY",
    withSection: false,
  }
  with-ads=false
/>
