.page {
  &--content-company {
    .page-wrapper__section.page-wrapper__section--content-header {
      > div:first-of-type {
        margin-right: -20px;
        margin-left: -20px;
        @media (min-width: $marko-web-document-container-max-width) {
          margin-left: calc(-50vw - -630px);
          margin-right: calc(-50vw - -630px);
        }
        justify-self: end;
        width: 100vw;
        display: inline-block;
        display: flex;
        flex-direction: column;
        background-color: $gray-100;
      }
      .content-page-header {
        max-width: 1300px;
        align-self: center;
        width: 100%;
        padding-right: map-get($spacers, block);
        padding-left: map-get($spacers, block);
      }
    }
    // IRON Pros Company Page update::after
    .content-page-header {
      .ldp {
        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }
        &__logo {
          min-height: 100px;
          padding: map-get($spacers, 1);
          margin-top: -100px;
          margin-right: map-get($spacers, block);
          display: flex;
          align-items: center;
          background-color: $white;
          img {
            margin-right: initial;
          }
          @include media-breakpoint-down(sm) {
            margin-top: -50px;
            margin-right: 0;
          }
          &:empty {
            display: none;
            visibility: hidden;
          }
        }
        &__title {
          margin-top: map-get($spacers, 2);
        }
      }
      &--titanium {
        .ldp__title {
          position: relative;
          padding-right: 75px;
          @include media-breakpoint-down(md) {
            padding-right: 30px;
          }
          &:after {
            content: "";
            width: 50px;
            height: 50px;
            background:url("https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/logo/titanium-check.png");
            background-size: contain;
            top: 5px;
            right: 5px;
            position: absolute;
            display: inline-block;
            @include media-breakpoint-down(md) {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
      // Only set this way to match avobe media query logic
      .page-wrapper__company-social-info {
        margin-top: -40px;
        @include media-breakpoint-down(sm) {
          margin-top: initial;
        }
      }
    }
    .page-contents {
      &__content-sidebars {
        @include theme-content-body();
        display: flex;
        flex-direction: column;
        [data-embed-type=image] img {
          border-radius: initial;
        }
      }
      .page-company-contacts,
      .node-list--company-categories-feed,
      .page-company-contact-info,
      .page-company-inquiry {
        @include media-breakpoint-up(lg) {
          display: none;
        }
      }
    }
    .node-list {
      .node-list__header {
        button.node-list__header {
          border: none;
          margin: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0;
        }
      }
      &--company-categories-feed {
        .node-list__nodes{
          height: 0;
          overflow: hidden;
        }
        &.node-list--open {
          .node-list__nodes{
            height: auto;
            transition: height 1s ease;
            -moz-transition: height 1s ease;
            -webkit-transition: height 1s ease;
            -o-transition: height 1s ease;
          }
        }
      }
      &--section-feed {
        > .node-list__header {
          margin-bottom: 0;
          border-bottom: none;
        }
        > .node-list__body {
          padding-bottom: 0;
          border-bottom: none;
          &:has(label) + .node-list__nodes {
            padding-right: $marko-web-node-list-padding;
            padding-left: $marko-web-node-list-padding;
          }
        }
        > .node-list__nodes {
          max-height: 250px;
          overflow: scroll;
        }
      }
      &--featured-videos {
        .node-list__nodes {
          margin-top: map-get($spacers, block);
        }
      }
      .page-details {
        &__label {
          font-weight: $font-weight-bold;
        }
      }
      .page-contents__content-sidebar {
        background-color: initial;
        border-left: none;
        padding: 0;
        margin-bottom: 0;
        [data-embed-type][data-embed-align=left],
        [data-embed-type][data-embed-align=right] {
          width: calc(50% - .75rem);
        }
      }

      &.page-company-contacts {
        .node-list__nodes{
          height: 0;
          overflow: hidden;
        }
        &--open {
          .node-list__nodes{
            height: auto;
            transition: height 1s ease;
            -moz-transition: height 1s ease;
            -webkit-transition: height 1s ease;
            -o-transition: height 1s ease;
          }
        }
      }
    }
    // display logic for show hide block on desktop vs mobile
    // @todo revist ordering of block to see if we can utilize display flex and positioning instead
    .page-rail {

      padding-top: 12px;

      .page-company-contacts,
      .node-list--company-categories-feed,
      .page-company-contact-info,
      .page-company-inquiry {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
      .page-company-contacts {
        margin-bottom: 0;
        .node-list__body {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      .page-company-inquiry {
        .node-list__header {
          padding-top: 0;
        }
      }
    }
    .content-page-body {
      .carousel {
        @include media-breakpoint-up(lg) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    .content-page-latest-content {
      .content-card-deck {
        &__header {
          &::before {
            height: 0;
            width: 0;
          }
          background-color: $gray-100;
          color: $gray-800;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-left: map-get($spacers, 3);
          border-radius: 4px;
          font-size: 16px;
          line-height: 1.25rem;
          text-transform: uppercase;
        }
        .card-deck-flow__node {
          padding: map-get($spacers, block);
        }
      }
    }
  }
}
