.content-page-body {
  .primary-image {
    &--aligned-center {
      @include media-breakpoint-up(lg) {
        margin-right: -60px;
        margin-left: -60px;
      }
    }
  }
  .carousel {
    @include media-breakpoint-up(lg) {
      margin-right: -60px;
      margin-left: -60px;
    }
    .carousel-inner {
      aspect-ratio: 16 / 9;
    }
    .carousel-item {
      img {
        aspect-ratio: 16 / 9;
      }
    }
  }
}
.page-contents {
  &__content-body {
    [data-embed-type=image][data-embed-align=right] {
      @include media-breakpoint-up(lg) {
        margin-right: -60px;
      }
    }
    [data-embed-type=image][data-embed-align=leftt] {
      @include media-breakpoint-up(lg) {
        margin-left: -60px;
      }
    }
  }
}
