.page {
  $self: &;
  .page-cover-image {
    &__wrapper {
      background: linear-gradient(-90deg, rgba(0,0,0,0.4),rgba(0,0,0,1)), #000000;
      background-repeat: no-repeat;
      height: 270px;
      background-position-x: center;
      background-position-y: center;
      max-width: none;
      background-size: auto 400px;
      margin-right: -20px;
      margin-left: -20px;
      @media (min-width: $marko-web-document-container-max-width) {
        margin-left: calc(-50vw - -630px);
        margin-right: calc(-50vw - -630px);
      }
      display: flex;
      flex-direction: column;
      margin-top: -20px;
      padding-top: 20px;
      .page-cover-image__contents {
        padding-right: map-get($spacers, block);
        padding-left: map-get($spacers, block);
        max-width: 100%;
        width: $marko-web-document-container-max-width;
        align-self: center;
        color: $light;
        .page-wrapper__website-section-name {
          color: $light;
        }

        .page-wrapper__website-section-description {
          @include theme-max-lines(
            $font-size: $theme-item-title-large-font-size,
            $font-size-sm: $theme-item-title-large-font-size-sm,
            $line-height: $theme-item-title-large-line-height,
            $line-height-sm: $theme-item-title-large-line-height-sm,
            $num: 6, //$theme-item-title-large-max-lines
          );
        }
      }
      .breadcrumb {
        background-color: transparent;
        a {
          color: $light;
        }
      }
    }
  }
  &--website-section {
    .page-cover-image{
      &__wrapper {
        background-image: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/2024/05/ip_home.6637e368f3449.png');
      }
    }
  }
  &--content-company {
    .page-cover-image{
      &__wrapper {
        height: 100px;
        @include attr-isset('cover-image-path') {
          height: 270px;
          background-position-x: center;
          background-position-y: top;
          background-size: auto 270px;
        }
      }
    }
    .page-wrapper {
      &__section {
        &:first-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Temp seciton overrides as examples.  with need to look at pulling off of section or parent sections somehow and setting as inline style.
.page--website-section-214147 {
  .page-cover-image{
    &__wrapper {
      background-image: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/2024/05/software.66351cb68452a.png');
    }
  }
}
.page--website-section-54436 {
  .page-cover-image{
    &__wrapper {
      background-image: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/logo/iron/section-headers/crane.png');
    }
  }
}
.page--website-section-214161 {
  .page-cover-image{
    &__wrapper {
      background-image: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/logo/iron/section-headers/skidsteer.png');
    }
  }
}
.page--website-section-54468 {
  .page-cover-image{
    &__wrapper {
      background-image: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/logo/iron/section-headers/skidsteer.png');
    }
  }
}



// homepage artwork
.page {
  &--website-section-215599 {
    .page-cover-image{
      &__wrapper {
        background-image: url('https://img.forconstructionpros.com/files/base/acbm/fcp/image/static/logo/iron/section-headers/ip-home.png');
        background-position: center;
      }
      &__contents {
        text-align: center;
        @media (min-width: $marko-web-document-container-max-width) {
          .page-wrapper__website-section-name {
            font-size: 60px;
            margin-top: 40px;
          }

          .page-wrapper__website-section-description {
            max-width: 100%;
            font-size: 22px;
          }
        }
      }
    }
  }
}
