.node-carousel {
  &--titanium-products {
    .node__contents .node__body--carousel {
      padding-bottom: 0;
      .node__title {
        -webkit-line-clamp: 3;
        height: 4.4rem;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
      }
    }
    .node__company {
      &::before {
        content: "From: ";
        font-weight: $font-weight-bold;
      }
    }
  }
}
